*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: whitesmoke;
}
.img {
    background-image: url(Rolls.jpg);
    height: 100vh;
    /* width: 100%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img h1{
    text-align: left;
    padding-top: 20px;
    padding-left: 300px;
    color: rgb(11, 54, 172);
    font-family: Papyrus;
}
.img p{
    padding-top: 40px;
    color: black;
    font-family: cooper;
    width: auto;
}
.p1 p{
    width: 100px;
}
.p2 p{
    width: 150px;
}
.p3 p{
    width: 150px;
}
.p4 p{
    width: 150px;
}
.p5 p{
    width: 150px;
}
.img p:hover{
    color:  rgb(251, 144, 3);
    font-size: smaller;
}
section{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
button{
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 3px solid red;
    font-family: cooper;
    color: red;
}
button:hover{
    background-color: red;
    border: none;
    color: black;
    font-size: x-small;
}
.img1{
    background-image: url(img/rolls2.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img1 p{
    padding-top: 40px;
    color: black;
    font-family: cooper;
    width: auto;
}
.img1 h1{
    text-align: left;
    padding-top: 80px;
    padding-left: 500px;
    color:  rgb(251, 144, 3);
    font-family: Papyrus;
}
.h1:hover{
    color: rgb(251, 144, 3);
    width: 100px;
    font-size: small;
}
.p1{
    width: 100px;
}
.p2{
    width: 150px;
}
.p3{
    width: 150px;
}
.p4{
    width: 150px;
}
.p5{
    width: 150px;
}
.img2{
    background-image: url(img/rolls3.webp);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img2 p{
    padding-top: 40px;
    color:  black;
    font-family: cooper;
    width: auto;
}
.img2 h1{
    text-align: left;
    padding-top: 80px;
    padding-left: 500px;
    color:  rgb(251, 144, 3);
    font-family: Papyrus;
}
.h2:hover{
    color: rgb(251, 144, 3);
    font-size: small;
    width: 150px;
}
.p2{
    width: 150px;
}
.img3{
    background-image: url(img/rolls4.webp);
    height: 100vh;
    background-position: calc(100vh - 700px);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img3 p{
    padding-top: 40px;
    color:  black;
    font-family: cooper;
    width: auto;
}
.img3 h1{
    text-align: left;
    padding-top: 80px;
    padding-left: 500px;
    color: rgb(251, 144, 3);
    font-family: Papyrus;
}
.h3:hover{
    color: rgb(251, 144, 3);
    width: 150px;
    font-size: small;
}
.p1{
    width: 100px;
}
.p2{
    width: 150px;
}
.p3{
    width: 150px;
}
.p4{
    width: 150px;
}
.p5{
    width: 150px;
}
.img4{
    background-image: url(img/rolls5.webp);
    height: 100vh;
    /* width: auto; */
    background-position: calc(100vh - 840px) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img4 p{
    padding-top: 40px;
    color:  black;
    font-family: cooper;
    width: auto;
}
.img4 h1{
    text-align: left;
    padding-top: 80px;
    padding-left: 500px;
    color: rgb(251, 144, 3);
    font-family: Papyrus;
}
.h4:hover{
    color: rgb(251, 144, 3);
    width: 150px;
    font-size: small;
}
.p1{
    width: 100px;
}
.p2{
    width: 150px;
}
.p3{
    width: 150px;
}
.p4{
    width: 150px;
}
.p5{
    width: 150px;
}
.img5{
    background-image: url(img/rolls5.png);
    height: 100vh;
    width: auto;
    background-position:center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img5 p{
    padding-top: 40px;
    color: black;
    font-family: cooper;
    width: auto;
}
.img5 h1{
    text-align: left;
    padding-top: 80px;
    padding-left: 500px;
    color: rgb(251, 144, 3);
    font-family: Papyrus;
}
.h5:hover{
    color: rgb(251, 144, 3);
    width: 150px;
    font-size: small;
}
.p1{
    width: 100px;
}
.p2{
    width: 150px;
}
.p3{
    width: 150px;
}
.p4{
    width: 150px;
}
.p5{
    width: 150px;
}



