.card_img{
    width: 100px;
    /* height: 100px; */
    align-items: center;
}
.card p{
    padding: 10px;
    margin-left: 10px;
}
.owl-carousel{
    background-color: cadetblue;
}
.card{
    background-color: wheat;
    margin-top:20px;
    margin-left: 10px;
    padding-top:10px;
    padding-left: 10px;
    border-radius:5px 20px 5px 20px;
}
.card span{
    font-family:Cooper;
    color: chocolate;
}
